@media (max-width: 1550px)
  .newsletter
    &-container
      margin-left: 153px
      margin-right: 213px
  .footer
    &-container
      margin-left: 150px
      margin-right: 248px
@media (max-width: 1440px)
  .newsletter
    &-container

@media (max-width: 1300px)
  .main
    &-container
      max-width: 1180px
@media (max-width: 1200px)
  .container
    max-width: 960px
  .main
    &-container
      max-width: 96%
      padding-top: 50px
      padding-bottom: 54px
    &-wrapper
      width: 450px
    &__text
      font-size: 20px
      line-height: 36px
    &-links
      max-width: 450px
      &__link
        font-size: 14px
  .advantages
    &-wrapper
      grid-template-columns: 300px 300px 300px
      grid-gap: 20px
    &-photos
      grid-template-columns: 300px 300px 300px
      grid-gap: 20px
    &__photo-1
      width: 300px
      height: 480px
    &__photo-2
      width: 300px
    &__photo-3
      width: 300px
      grid-column: 2
    &-info
      width: 300px
      &__title
        font-size: 46px
      &__text
        font-size: 17px
  .trends
    &-wrapper
      grid-template-columns: repeat(3, 300px)
      grid-gap: 30px
    &-card
      width: 300px
  .best
    &-card
      &--visible
        min-width: 300px
  .soon
    &-card
      &--visible
        min-width: 300px
  .stories
    padding-bottom: 120px
    &-container
      max-width: 960px
    &-info
      max-width: 330px
      &__title
        font-size: 41px
        line-height: 50px
    &-slider
      max-width: 600px
      &__half
        width: 290px
      &__img
        width: 280px
        height: 300px
      &__info
        width: 281px
  .newsletter
    &-container
      padding-top: 80px
      margin-right: 150px
      margin-left: 130px
      padding-bottom: 85px
    &-info
      max-width: 380px
  .subscribe
    &__input
      padding-right: 47%
    &__button
      width: 43%
      padding: 11px 0
      font-size: 16px
  .footer
    &-container
      max-width: 960px
      margin: auto
    &-wrapper
      max-width: 960px
      margin: auto
      grid-gap: 30px
@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-menu
      &__link
        margin-right: 20px
        font-size: 14px
    &-button
      padding: 13px 20px
  .main
    &-container
      min-height: 624px
      padding-top: 36px
      padding-left: 28px
      padding-bottom: 36px
    &-wrapper
      max-width: 444px
    &__hashtag
      margin-bottom: 24px
    &__title
      font-size: 48px
      line-height: 60px
      margin-bottom: 20px
    &__text
      max-width: 400px
      font-size: 18px
      line-height: 32px
      margin-bottom: 36.5px
    &-links
      width: 444px
  .advantages
    &-wrapper
      max-width: 700px
      grid-template-columns: 330px 330px
      grid-template-rows: 230px 230px 300px
      grid-column-gap: 40px
      grid-row-gap: 30px
    &-photos
      grid-template-columns: 330px 330px
      grid-column-gap: 40px
      grid-row-gap: 30px
    &__photo-1
      width: 330px
      height: 490px
    &__photo-2
      width: 330px
    &__photo-3
      width: 330px
      grid-column: 2
    &-info
      width: 700px
      grid-column: span 2
      grid-row: 3
      margin-left: 0
      margin-top: 10px
      &__title
        font-size: 48px
      &__text
        max-width: 672px
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 36px
        margin-bottom: 24px
  .trends
    &-wrapper
      grid-template-columns: repeat(2, 335px)
      grid-gap: 30px
    &-card
      width: 335px
  .best
    &-card
      &--visible
        min-width: 335px
  .soon
    &-card
      &--visible
        min-width: 335px
  .stories
    padding-bottom: 50px
    &-container
      height: 390px
      max-width: 760px
    &-info
      max-width: 250px
      &__title
        font-size: 30px
        line-height: 37px
        margin-bottom: 18px
      &__text
        font-size: 18px
        line-height: 30px
      &__sticker
        margin-bottom: 20px
    &-slider
      max-width: 470px
      &__half
        width: 235px
      &__img
        width: 225px
        height: 225px
      &__info
        width: 225px
        height: 130px
      &__text
        font-size: 16px
        line-height: 25px
      &__more
        font-size: 14px
  .slider
    &-button
      top: 87%
  .newsletter
    &-container
      flex-direction: column
      text-align: center
      height: 402px
      padding: 72px 0px 80px 0px
    &-info
      max-width: 436px
  .subscribe
    width: 447px
    &__input
      width: 447px
      padding: 17px 192px 17px 48px
    &__button
      width: 177px
      padding: 11px 0
      font-size: 18px
  .footer
    &-container
      max-width: 626px
      padding-top: 64px
      padding-bottom: 0
      margin-left: 130px
    &-wrapper
      max-width: 626px
      grid-template-columns: 237px 148px 143px
      grid-template-rows: 262px 210px
      grid-gap: 48px
    &__company
      grid-column: 2
    &__contacts
      grid-column: 3
@media (max-width: 800px)
  .reviews
    &-container
      max-width: 760px
@media (max-width: 768px)
  .container
    max-width: 648px
    width: 92%
  .navbar
    &-top
      padding-bottom: 18px
    &-mobile
      flex-direction: column
      &--fixed
        height: 84px
        position: fixed
        left: 0
        top: 0
        right: 0
        bottom: 0
        z-index: 99
        background-color: #fff
    &-inter
      &--hidden
        display: none
    &-menu
      flex-direction: column
      align-items: center
      margin-right: 0
      padding-top: 50px
      padding-bottom: 50px
      &__link
        font-size: 16px
        margin-right: 0
        margin-bottom: 30px
    &-button
      padding-left: 40px
      padding-right: 40px
    &-window
      position: fixed
      left: 0
      top: 84px
      right: 0
      bottom: 0
      background-color: #f5f5f5
      &--visible
        display: block
        z-index: 2000
      &--hidden
        display: none
  .menu
    &-button
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      width: 22px
      height: 17.7px
      padding: 0
      border: none
      background-color: #fff
      cursor: pointer
      outline: none
      &__line
        width: 22px
        height: 1px
        background-color: black
  .main
    padding-top: 0
    padding-bottom: 80px
    margin-top: 102px
    &-container
      background-image: url(../img/main-photo-768.png)
    &__text
      line-height: 32px
    &__button
      margin-bottom: 40.5px
  .advantages
    padding-bottom: 74px
    &-container
      max-width: 670px
      margin: auto
    &-wrapper
      max-width: 670px
      grid-template-columns: 48% 48%
      grid-template-rows: 230px 230px 300px
      grid-gap: 30px
    &-photos
      max-width: 670px
      grid-template-columns: 100% 100%
      grid-gap: 30px

    &__photo-1
      width: 100%
      max-height: 490px
    &__photo-2
      max-width: 97%
    &__photo-3
      max-width: 97%
      grid-column: 2
    &-info
      max-width: 100%
      grid-column: span 2
      grid-row: 3
      margin-left: 0
      margin-top: 10px
      &__title
        margin-top: 0
        font-size: 48px
      &__text
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 36px
        margin-bottom: 24px
  .trends
    padding-bottom: 80px
    &-container
      max-width: 608px
    &-wrapper
      max-width: 608px
      grid-template-columns: repeat(2, 280px)
      grid-gap: 48px
    &-card
      width: 280px
    &-info
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 55.5px
    &-title
      &__title
        margin-bottom: 27.5px
    &-button
      padding-left: 31px
      padding-right: 30px
      &__text
        margin-top: 25px
  .best
    &-card
      &--visible
        min-width: 280px
  .soon
    &-card
      &--visible
        min-width: 280px
  .reviews
    &-container
      max-width: 630px
    &__img
      margin-bottom: 38px
    &-slider
      &__item
        height: 415px
      &__name
        margin-bottom: 28px
  .swiper
    &-pagination
      top: 95.8%
  .line
    max-width: 94.79%
  .stories
    padding-top: 79px
    padding-bottom: 80px
    &-container
      max-width: 682px
      height: 807px
      flex-direction: column
      align-items: center
    &-info
      min-width: 567px
      display: flex
      flex-direction: column
      align-items: center
      &__sticker
        margin-bottom: 24px
      &__title
        font-size: 48px
        line-height: 60px
        margin-bottom: 16px
      &__text
        font-size: 20px
        line-height: 36px
        text-align: center
        margin-bottom: 36px
    &-slider
      max-width: 682px
      transform: translateY(-2px)
      &__half
        width: 322px
      &__img
        width: 322px
        height: 317px
      &__info
        width: 322px
        height: 178px
        padding: 20px 42px 20px 22px
      &__text
        font-weight: 500
        font-size: 22px
        line-height: 32px
        margin-bottom: 22px
      &__more
        font-size: 16px
        line-height: 22px
  .slider
    &-button
      top: 33%
      margin-bottom: 36px
      z-index: 2
      &--next
        left: 52%
      &--prev
        left: 40.5%
  .newsletter
    background-image: url("../img/newsletter-background-768.png")
    &-container
      margin: 0
    &__thankyou
      padding-top: 100px
    &-info
      &__text
        margin-bottom: 56px
  .subscribe
    min-height: 80px
  .footer
    &-container
      margin: auto
      margin-left: 59px
@media (max-width: 767px)
  .footer
    &-container
      max-width: 530px
      margin: auto
      padding-top: 64px
      padding-bottom: 130px
    &-wrapper
      max-width: 530px
      grid-template-columns: 176px 148px 143px
      grid-template-rows: 280px 210px
      grid-column-gap: 30px
    &__company
      grid-column: 2
    &__contacts
      grid-column: 3
    &-links
      &__icon
        margin-right: 10px
        margin-bottom: 10px
@media (max-width: 700px)
  .stories
    &-container
      max-width: 576px
      height: 807px
    &-slider
      max-width: 576px
      transform: translateY(-2px)
      &__half
        width: 278px
      &__img
        width: 268px
      &__info
        width: 268px
  .slider
    &-button
      top: 33%
      &--next
        left: 52%
      &--prev
        left: 39%

@media (max-width: 661px)
  .trends
    &-container
      max-width: 576px
      width: 95%
    &-wrapper
      max-width: 576px
      grid-template-columns: repeat(2, 273px)
      grid-gap: 30px
    &-card
      width: 273px
    &-info
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 55.5px
    &-title
      &__title
        margin-bottom: 27.5px
    &-tabs
      &__tab
        margin-right: 16px
        &--soon
          margin-right: 0
    &-button
      padding-left: 31px
      padding-right: 30px
      &__text
        margin-top: 25px
  .best
    &-card
      &--visible
        min-width: 273px
  .soon
    &-card
      &--visible
        min-width: 273px
  .reviews
    &-container
      max-width: 550px
@media (max-width: 606px)
  .trends
    &-container
      max-width: 550px
      width: 95%
    &-wrapper
      max-width: 550px
      grid-template-columns: repeat(2, 260px)
      grid-gap: 30px
    &-card
      width: 260px
    &-info
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 55.5px
    &-title
      &__title
        margin-bottom: 27.5px
    &-tabs
      &__tab
        margin-right: 16px
        &--soon
          margin-right: 0
    &-button
      padding-left: 31px
      padding-right: 30px
      &__text
        margin-top: 25px
  .best
    &-card
      &--visible
        min-width: 260px
  .soon
    &-card
      &--visible
        min-width: 260px
@media (max-width: 576px)
  .container
    max-width: 500px
    width: 88%
  .main
    margin-top: 88px
    &-container
      max-width: 100%
      border-radius: 0
      background-image: url(../img/main-photo-320.png)
      background-position: top
      background-size: cover
      padding-left: 1px
      padding-bottom: 20px
      padding-top: 1px
    &-wrapper
      display: flex
      flex-direction: column
      align-items: center
      max-width: 280px
      margin: auto
      margin-top: 381px
      padding: 0
    &-info
      display: flex
      flex-direction: column
      align-items: center
    &__hashtag
      padding: 2px 26.6px
      margin-bottom: 20px
    &__title
      font-size: 32px
      line-height: 40px
      text-align: center
      letter-spacing: 0.2px
    &__text
      font-size: 16px
      line-height: 28px
      text-align: center
      margin-bottom: 24px
    &__button
      width: 257px
      margin-bottom: 22px
      padding: 13px 49px
      font-size: 16px
      line-height: 22px
    &-links
      flex-wrap: wrap
      max-width: 274px
      &__link
        font-size: 16px
        margin-bottom: 16px
    &-icon
      width: 24px
      height: 24px
      object-fit: cover
  .like
    &-link
      transform: translateX(75%)
  .advantages
    &-wrapper
      grid-template-columns: 48.5% 48.5%
      grid-template-rows: 290px 138px 288px
      grid-gap: 14px
    &-photos
      grid-template-columns: 100% 100%
      grid-template-rows: 290px 138px 288px
      grid-gap: 14px
    &__photo-1
      grid-column: span 2
      grid-row: 1
      width: 100%
      height: 290px
    &__photo-2
      max-width: 100%
      height: 145px
      grid-column: 1 / 2
      grid-row: 2
    &__photo-3
      max-width: 100%
      height: 145px
      grid-column: 2
      grid-row: 2
    &-info
      grid-column: span 2
      grid-row: 3
      display: flex
      flex-direction: column
      align-items: center
      margin-top: 22px
      &__title
        text-align: center
        font-size: 33px
        line-height: 36px
        margin-bottom: 20px
        margin-top: 0
      &__text
        font-size: 16px
        line-height: 28px
        text-align: center
    &-link
      display: none
  .trends
    &-container
      max-width: 500px
      width: 88%
    &-wrapper
      max-width: 450px
      margin: auto
      grid-template-columns: repeat(2, 210px)
      grid-gap: 30px
    &-card
      width: 210px
    &-info
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 55.5px
    &-title
      &__title
        margin-bottom: 27.5px
    &-tabs
      &__tab
        margin-right: 16px
        &--soon
          margin-right: 0
    &-button
      padding-left: 31px
      padding-right: 30px
      &__text
        margin-top: 25px
  .best
    &-card
      &--visible
        min-width: 210px
  .soon
    &-card
      &--visible
        min-width: 210px
  .reviews
    padding-bottom: 20px
    &-container
      max-width: 400px
      width: 90%
    &-slider
      &__item
        height: 555px
      &__text
        font-size: 18px
        line-height: 36px
        margin-bottom: 24px
      &__name
        margin-bottom: 24px
    &__img
      margin-bottom: 13px
  .swiper
    &-pagination
      top: 89%
  .stories
    padding-top: 47px
    padding-bottom: 144px
    &-container
      max-width: 500px
      height: 1134px
      justify-content: flex-start
      width: 95%
    &-info
      min-width: 280px
      &__title
        font-size: 28px
        line-height: 36px
      &__text
        font-size: 16px
        line-height: 28px
    &-slider
      max-width: 500px
      height: 100%
      transform: translateY(82px)
      width: 95%
      &__item
        flex-direction: column
      &__half
        width: 100%
        flex-basis: 100%
        z-index: 99
      &__img
        width: 97%
        height: 277px
      &__info
        width: 100%
        padding: 20px
      &__text
        font-size: 20px
        line-height: 24px
        width: 230px
        margin-bottom: 16px
  .slider
    &-button
      top: 22.5%
      &--next
        left: 52%
      &--prev
        left: 37%
  .this
    display: none
  .newsletter
    &-container
      height: 414px
      background-image: url("../img/newsletter-background-768.png")
      flex-direction: column
      text-align: center
      padding: 64px 20px 64px 20px
    &-info
      max-width: 280px
      &__title
        font-size: 28px
        line-height: 36px
        margin-bottom: 24px
      &__text
        display: block
        font-size: 16px
        line-height: 28px
        margin-bottom: 36px
  .subscribe
    flex-direction: column
    width: 280px
    min-height: 128px
    &__input
      width: 280px
      height: 48px
      padding: 13px 48px 13px 48px
      font-size: 16px
      line-height: 22px
    &__button
      top: 57px
      left: 0
      width: 280px
      height: 48px
      padding: 11px 0
      font-size: 18px
      border-radius: 8px
      font-size: 18px
      line-height: 25px
    &__icon
      position: absolute
      width: 16px
      height: 18px
      top: 16px
      left: 20px
  .invalid
    font-size: 14px
  .footer
    &-container
      padding-top: 48px
      padding-bottom: 73px
    &-wrapper
      max-width: 263px
      grid-template-columns: 263px
      grid-template-rows: 202px 202px 167px 97px 185px
      grid-column-gap: 0
      grid-row-gap: 30px
    &__navigation
      grid-row: 1
    &__services
      grid-row: 2
    &__company
      grid-row: 3
      grid-column: 1
    &__contacts
      grid-row: 4
      grid-column: 1
    &__title
      font-size: 16px
      line-height: 22px
      margin-bottom: 20px
    &__item
      font-size: 14px
      line-height: 20px
      margin-bottom: 15px
    &-links
      align-items: center
      margin-top: 37px
      &__text
        max-width: 260px
        text-align: center
        font-size: 14px
        line-height: 24px
        margin-bottom: 16px
      &__icon
        margin-right: 6px
        margin-bottom: 0
      &__logo
        height: 43px
    &__logo
      margin-bottom: 14px
  .linkedin
    margin-right: 0
  #subscribeEmail-error
    position: absolute
    left: 20px
    top: 105px
    z-index: 200
@media (max-width: 510px)
  .trends
    &-container
      max-width: 400px
      width: 88%
    &-wrapper
      margin: auto
      max-width: 350px
      grid-template-columns: repeat(2, 160px)
      grid-template-rows: repeat(2, 230px)
      grid-gap: 30px
    &-info
      margin-bottom: 36px
    &-card
      width: 160px
      &__img
        max-height: 170px
      &-info
        margin-top: 13px
        &__name
          font-size: 16px
          line-height: 20px
        &-price
          align-items: flex-start
          justify-content: flex-start
          &__price
            font-size: 14px
            line-height: 24px
            margin-right: 9px
    &-title
      &__title
        margin-bottom: 27.5px
        font-size: 28px
        line-height: 36px
    &-tabs
      &__tab
        margin-right: 16px
        font-size: 16px
        line-height: 22px
        &--soon
          margin-right: 0
    &-button
      padding-top: 40px
      padding-bottom: 23px
      padding-left: 25px
      padding-right: 25px
      max-height: 170px
      font-size: 17px
      line-height: 20px
      &__icon
        margin-bottom: 15px
  .basket
    &-icon
      width: 14px
      height: 25px
  .best
    &-card
      &__img
        max-height: 170px
      &--visible
        min-width: 160px
  .soon
    &-card
      &__img
        max-height: 170px
      &__text
        display: none
      &--visible
        min-width: 160px

  .card
    &-info
      &__name
        font-size: 16px
@media (max-width: 436px)
  .slider
    &-button
      &--next
        left: 55%
      &--prev
        left: 30%
@media (max-width: 400px)
  .trends
    &-container
      max-width: 300px
      width: 95%
    &-wrapper
      margin: auto
      max-width: 300px
      grid-template-columns: repeat(2, 140px)
      grid-template-rows: repeat(2, 230px)
      grid-gap: 20px
    &-info
      margin-bottom: 36px
    &-card
      width: 140px
      &__img
        max-height: 170px
      &-info
        margin-top: 13px
        &__name
          font-size: 16px
          line-height: 20px
        &-price
          align-items: flex-start
          justify-content: flex-start
          &__price
            font-size: 14px
            line-height: 24px
            margin-right: 9px
    &-title
      &__title
        margin-bottom: 27.5px
        font-size: 28px
        line-height: 36px
    &-tabs
      &__tab
        margin-right: 16px
        font-size: 16px
        line-height: 22px
        &--soon
          margin-right: 0
    &-button
      padding-top: 40px
      padding-bottom: 23px
      padding-left: 25px
      padding-right: 25px
      max-height: 170px
      &__text
        margin-top: 15px
        font-size: 17px
        line-height: 20px
  .basket
    &-icon
      width: 14px
      height: 25px
  .best
    &-card
      &__img
        max-height: 170px
      &--visible
        min-width: 140px
  .soon
    &-card
      &__img
        max-height: 170px
      &__text
        display: none
      &--visible
        min-width: 140px
  .card
    &-info
      &__name
        font-size: 16px
  .modal
    &__dialog
      padding: 33px 40px
@media (max-width: 355px)
  .reviews
    &-slider
      &__text
        height: 288px
@media (max-width: 320px)
  .container
    max-width: 290px
    width: 90%
    margin: auto
  .navbar
    &-top
      padding-top: 18px
      padding-bottom: 18px
      max-width: 272px
      margin: auto
    &-mobile
      &--fixed
        height: 64px
    &-window
      top: 64px
  .main
    &__title
      width: 244px
      letter-spacing: 0.9px
  .advantages
    padding-bottom: 85px
    &-wrapper
      grid-template-columns: 138px 138px
      grid-template-rows: 300px 97px 335px
      grid-gap: 14px
    &-photos
      grid-template-columns: 138px 138px
      grid-template-rows: 300px 97px 335px
      grid-gap: 14px
    &__photo-1
      grid-column: span 2
      grid-row: 1
      width: 290
      height: 300px
      border-radius: 3.36px
    &__photo-2
      max-width: 138px
      max-height: 97px
      grid-column: 1 / 2
      grid-row: 2
      border-radius: 3.36px
    &__photo-3
      max-width: 138px
      max-height: 97px
      grid-column: 2
      grid-row: 2
      border-radius: 3.36px
    &-info
      &__title
        font-size: 28px
        line-height: 36px
      &__text
        max-height: 197px
        max-width: 280px
  .trends
    padding-bottom: 48px
    &-container
      max-width: 290px
    &-wrapper
      margin: auto
      max-width: 290px
      grid-template-columns: repeat(2, 140px)
      grid-template-rows: repeat(2, 230px)
      grid-column-gap: 10px
      grid-row-gap: 24px
    &-info
      margin-bottom: 36px
    &-card
      width: 140px
      &__img
        max-height: 170px
      &-info
        margin-top: 13px
        margin-left: 0
        &__name
          font-size: 16px
          line-height: 20px
        &-price
          align-items: flex-start
          justify-content: flex-start
          &__price
            font-size: 14px
            line-height: 24px
            margin-right: 9px
    &-title
      &__title
        margin-bottom: 27.5px
        font-size: 28px
        line-height: 36px
    &-tabs
      &__tab
        margin-right: 16px
        font-size: 16px
        line-height: 22px
        &--soon
          margin-right: 0
    &-button
      padding-top: 40px
      padding-bottom: 23px
      padding-left: 25px
      padding-right: 23px
      max-height: 170px
      font-size: 17px
      line-height: 20px
  .basket
    &-icon
      width: 14px
      height: 25px
  .best
    &-card
      &__img
        max-height: 170px
      &--visible
        min-width: 140px
  .soon
    &-card
      &__img
        max-height: 170px
      &__text
        display: none
      &--visible
        min-width: 140px
  .card
    &-info
      &__name
        font-size: 16px
  .reviews
    padding-bottom: 50px
    &-container
      max-width: 280px
      width: 90%
    &-slider
      &__item
        height: 580px
      &__text
        height: 360px
    &__img
      max-width: 70px
      max-height: 81px
      margin-bottom: 25px
  .swiper
    &-pagination
      top: 94%
  .russian
    &-name
      width: 145px
      text-align: left
  .stories
    padding-top: 47px
    padding-bottom: 64px
    &-container
      max-width: 280px
      height: 1160px
      justify-content: flex-start
      width: 100%
    &-info
      min-width: 280px
      &__title
        font-size: 28px
        line-height: 36px
      &__text
        font-size: 16px
        line-height: 28px
    &-slider
      max-width: 500px
      height: 100%
      transform: translateY(73px)
      width: 100%
      &__item
        flex-direction: column
      &__half
        min-width: 270px
        flex-basis: 100%
        z-index: 99
      &__img
        width: 270px
        height: 277px
      &__info
        width: 270px
        height: 150px
        padding: 20px
      &__text
        font-size: 20px
        line-height: 24px
        width: 230px
        margin-bottom: 16px
  .slider
    &-button
      &--next
      &--prev
        left: 29%
  .line
    max-width: 100%
    margin: 0
  .newsletter
    padding-top: 0
    &-container
      background-image: url("../img/newsletter-background-320.png")
    &__thankyou
      padding-top: 64px
  .subscribe
    min-height: 130px
    &__button
      top: 58px
    &__input
      &-group
        min-height: 130px
  .footer
    &-wrapper
      margin-left: 34px
  .slider
    &-button
      width: 48px
      height: 48px
      padding: 0
      margin-bottom: 26px
      &--next
        width: 48px
        height: 48px
        background-image: url(../img/next.svg)
        background-size: 48px 48px
        margin-right: 15px
        left: 53%
      &--prev
        width: 48px
        height: 48px
        background-image: url(../img/prev.svg)
        background-size: 48px 48px
        left: 85px
@media (max-height: 495px)
  .navbar
    &-window
      overflow-y: scroll
@media (max-height: 453px)
  .modal
    &__dialog
      height: 80%
      width: 700px
      padding: 25px 50px
    &__form
      display: flex
      justify-content: space-between
      align-items: flex-start
      max-width: 500px
      flex-wrap: wrap
    &__input
      width: 100%
      &-group
        width: 48%
    &__button
      flex-basis: 48%
      padding: 11px
  .invalid
    font-size: 14px
@media (max-height: 328px)
  .invalid
    font-size: 12px
@media (min-width: 991px)
  .navbar
    &-button
      &:hover
        background-color: #c9ecff
    &-menu
      &__link
        &:hover
          text-decoration: underline
  .main
    &__button
      &:hover
        background-color: $button-hover
    &-icon
      &:hover
        background: rgba(54, 179, 126, 0.1)
        border-radius: 13px
    &-links
      &__offer
        &:hover
          text-decoration: underline
  .advantages
    &-link
      &:hover
        text-decoration: underline
        color: $blue
  .trends
    &-button
      &:hover
        background-color: $button-hover
    &-tabs
      &__tab
        &:hover
          text-decoration: underline
  .basket
    &-icon
      &:hover
        height: 30px
        width: 30px
  .slider
    &-info
      &__link
        &:hover
          text-decoration: underline
          color: $blue
    &-button
      &--next, &--prev
        &:hover
          background-color: rgba(54, 179, 126, 0.1)
          opacity: 1
          border-radius: 50%
  .subscribe
    &__button
      &:hover
        background-color: $button-hover
  .footer
    &-links
      &__icon
        &:hover
          border: 3px solid $primary
          border-radius: 52%
    &__link
      &:hover
        color: $blue
  .modal
    &__button
      &:hover
        background-color: $button-hover
  .to
    &-top
      &:hover
        background-color: rgba(54, 179, 126, 0.1)
  .thankyou
    &-button
      &:hover
        background-color: #c9ecff
@media (max-width: 991px)
  .to
    &-top
      display: none
