*
  box-sizing: border-box

@font-face
  font-family: "HKGrotesk-Regular"
  src: url("../fonts/HKGrotesk-Regular.woff") format("woff"),
  url("../fonts/HKGrotesk-Regular.woff2") format("woff2")
body
  font-family: "Open Sans", sans-serif
  margin: 0
.container
  max-width: 1140px
  margin: auto
.line
  max-width: 79.16%
  margin-top: 0
  margin-bottom: 0
  height: 0
  border: none
  border-top: 1px solid #E5EAF4
