*
  box-sizing: border-box

@font-face
  font-family: "HKGrotesk-Regular"
  src: url("../fonts/HKGrotesk-Regular.woff") format("woff"),
  url("../fonts/HKGrotesk-Regular.woff2") format("woff2")
body
  font-family: "Open Sans", sans-serif
  margin: 0
  font-feature-settings: "locl" 0
.container
  max-width: 1140px
  margin: auto
.line
  max-width: 79.16%
  margin-top: 0
  margin-bottom: 0
  height: 0
  border: none
  border-top: 1px solid #E5EAF4
.invalid
  color: #fff
  font-size: 16px
  font-weight: bold
  border-bottom: 1px solid #fff
.to
  &-top
    height: 50px
    width: 50px
    position: fixed
    bottom: 20px
    right: 20px
    border-radius: 50%
    border: 2px solid gray
    background-color: #fff
    z-index: 100
    outline: none
    &-icon
      width: 18px
      height: 14px
      position: absolute
      bottom: 15px
      left: 13px
.thankyou
  &-button
    margin-top: 20px
    padding: 20px
    width: 150px
    border-radius: 8px
    border: none
    outline: none
    background: #fff
    color: $blue
    font-family: "Open Sans"
    font-size: 18px
    font-weight: bold
    cursor: pointer
